
@import url(./header.css);
@import url(./main.css);
@import url(./cards.css);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gradient-todos: linear-gradient(to right, #14B7ED, #0554F2);
    --branco : #FEFEFE

    --fonteEx2: "Exo 2", sans-serif;
}

